@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');

body {
    background-color: black;
}

h1 {
    font-family: "Edu AU VIC WA NT Dots", sans-serif;
    color: white;
}

a:visited, a:active, a:link, a:hover {
    color:darkgray;
    font-size: large;
}
#download {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}